.DS_Store
sftp-config.json
bower_components
node_modules
__pycache__
migrations
env
.htpasswd
.htaccess

images/*.jpg
images/*.png
images/*.svg
images/*.gif
images/*.ico
images/*.webp

media/*.jpg
media/*.png
media/*.svg
media/*.gif
media/*.ico
media/*.webp

package-lock.json
/*.sqlite3
/.idea
.idea
/web.config
/*web.config
/*.log
/*.sql
#!/robots.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*sftp-config.json
/*~
*/_*
/_*
/composer.*
/.phpintel
/docs/
.editorconfig
